<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/ascii_result"> <!--ascii_result로 보내야한다. 사용자가 보낸 정보를 가지고 API에게 요청한 후 다시 사용자에게 줌-->
        <input type="text" name="text"> <!--우리가 사용할 때 text로 보내줌(text=ASCII art이므로)-->
        <button type="submit">제출하기</button>

    </form>
</body>
</html>