<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Search</title>
</head>
<body>
    <h1>구글 검색</h1>
    <!--https://google.com/search?q=typora로 보내 검색한다 -->
    <form action="https://google.com/search">
        <input type="text" name="q"> <!--name은 항상 존재해야함-->
        <button type="submit">검색!</button> <!--submit을 눌렀을 때 google.com/search로 보내줌-->
    </form>
</body>
</html>