<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Naver Search</title>
</head>
<body>
    <h1>Naver 검색</h1> <!--h1을 해야지 화면 열렸을 때 Naver 검색 보인다!-->
    <form action="https://search.naver.com/search.naver">
        <input type="text" name="query"> <!--1.주소창에서 지울꺼 지우기! 이때 지워도 제대로 검색되면 그거 지우면 됨  2.?앞에까지 action에 넣기  3.?뒤부터 =앞에까지 넣기-->
        <button type="submit">검색</button>
    </form>
    
</body>
</html>
